[submodule "deepseek-harness"]
	path = deepseek-harness
	url = git@github.com:deepseek-ai/deepseek-harness.git
	branch = master
[submodule "dsh-force-compact"]
	path = dsh-force-compact
	url = git@github.com:falling-ts/dsh-force-compact.git
	branch = main
[submodule "awesome-dsh-plugin"]
	path = awesome-dsh-plugin
	url = git@github.com:falling-ts/awesome-dsh-plugin.git
	branch = main
[submodule "dsh-web-ding"]
	path = dsh-web-ding
	url = git@github.com:falling-ts/dsh-web-ding.git
	branch = main
